<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificación de Equipos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Clasificación de Equipos</h1>
    <table border="1">
        <tr>
            <th>Equipo</th>
            <th>Victorias</th>
            <th>Puntos</th>
        </tr>
        {% for equipo in equipos %}
        <tr>
            <td>{{ equipo.nombre }}</td>
            <td>{{ equipo.victorias }}</td>
            <td>{{ equipo.items }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <form action="{{ url_for('exportar_clasificacion_equipos') }}" method="get">
        <button type="submit" class="btn-exportar-equipos" id="exportar-equipos">Exportar clasificación de equipos</button>
    </form>

    <a href="{{ url_for('index') }}">Volver al Inicio</a>
</body>
</html>
