<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificación de Oradores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Clasificación de Oradores</h1>
    <table border="1">
        <tr>
            <th>Orador</th>
            <th>Puntos</th>
            <th>Equipo</th>
        </tr>
        {% for orador in oradores %}
        <tr>
            <td>{{ orador[0] }}</td>
            <td>{{ orador[1] }}</td>
            <td>{{ orador[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Volver al Inicio</a>
</body>
</html>